@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

/*HTML y BODY*/
html{
    height: 140%;
}
body{
    height: 100vh;
    font-family: 'Poppins', sans-serif;
    background-image: linear-gradient(to top, #b5ffff 0%, #b47cff 100%);
}

/* HEADER*/
.navbar-expand-lg .navbar-nav .nav-item .nav-link{
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    color: rgb(47, 55, 65);
    padding-right: 6rem;
    padding-left: 2rem;
    text-align: center;
    padding-top: 1rem;
    min-height: 76px;
    display: flex;
    align-items: center;
    justify-content: center;

}
.navbar{
    padding: 0;
}
.navbar-expand-lg .navbar-brand .logoInfovisur{
        height: 50%;
        width: 50%;
}

.navbar > .container, .navbar > .container-fluid, .navbar > .container-lg, .navbar > .container-md, .navbar > .container-sm, .navbar > .container-xl, .navbar > .container-xxl{
    background-color: #80d8ff;
    
}



.btn-primary{
    font-weight: bold;
    border: none;
    color: rgb(47, 55, 65);
    background-color: #C241FF;
    cursor: pointer;
    text-decoration: none;
    
}

#buttonMiCuenta:hover{
    background: #C241FF;
    border: 2px solid C241FF;
    color: black;
    
}

/*CONTENEDOR*/

.container{
    height: 45em;
    width: 70em;
    margin: 5em auto;
    padding: 0;
    display: flex;
    border-radius: 12px;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    overflow: hidden;
}

/*BOTON REGRESAR*/
#btn-Regresar{
    background-color: #b47cff;
    border: none;
}

/*ZONA IMAGEN*/

.content-left{
    width: 50%;
    padding: 2rem;
    background-color: #d9e4ad;
    box-sizing: border-box;
}

/*REGISTRO*/

.content-right{
    width: 50%;
    height: 45em;
    padding: 0 auto ;
    background-color: aliceblue;
    
}

h1{
    margin: 0;
    padding: 0.5em;
}

.inputs-container{
    height: 83%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    align-items: center;
}

#selectGenero {
    height: 30px;
    width: 60%;
    background-color: #ffff;
    border: 1px solid #ced4da;
    border-radius: 5px;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    letter-spacing: 0.1px;
}

#selectGenero:hover {
    border: 1px solid rgb(52, 218, 162);
    cursor: pointer;
}

.btn-CrearCuenta{
    width: 38%;    
    height: 41px;
    padding: 0;
}

#btn-CrearCuenta{
    width: 100%;    
    height: 41px;
    padding: 0;
    letter-spacing: 1px;
    background-color: #80d8ff;
    border: white;
    color: rgb(27, 31, 30);
    cursor: pointer;
}

h2{
    width: 68%;
    font-size: 16px;
    margin: 0;
    padding: 3px;
    text-align: left;
}

input{
    height: 33px;
    width: 70%;
    border-radius: 5px ;
    border:1px solid #ced4da;
}

input:hover{
    border: 1px solid rgb(52, 218, 162);
}

/*responsive*/  /*

@media screen and (max-width: 1000px) {
    .login-container {
        width: 70%;
        margin-top: 3rem;
    }
    .login-info-container {
        width: 100%;
        border-radius: 5px;
    }
    
    .image-container {
        display: none;
    }  
}

@media screen and (max-width: 650px) {
    .login-container {
        width: 90%;
    }
}

@media screen and (max-width: 500px) {
    .login-container {
        height: 90%;
    }

    .social-login {
        flex-direction: column;
        align-items: center;
        height: 30%;
    }

    .login-info-container > p {
        margin: 0;
    }
} */

