.navbar-expand-lg .navbar-nav .nav-item .nav-link{
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    color: var(--blanco);
    padding-right: 6rem;
    padding-left: 2rem;
    text-align: center;
    padding-top: 1rem;
    min-height: 76px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.navbar-expand-lg .navbar-brand .logoInfovisur{
        height: 50%;
        width: 50%;
}

