@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

/*HTML y BODY*/
html{
    height: 140%;
}
body{
    height: 100vh;
    font-family: 'Poppins', sans-serif;
    background-image: linear-gradient(to top, #b5ffff 0%, #b47cff 100%);
}

/*CONTENEDOR*/

.container{
    height: 45em;
    width: 70em;
    margin: 5em auto;
    padding: 0;
    display: flex;
    border-radius: 12px;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    overflow: hidden;
}

/*BOTON REGRESAR*/
#btn-Regresar{
    background-color: #b47cff;
    border: none;
}

/*ZONA IMAGEN*/

.content-left{
    width: 50%;
    padding-top: 0;
}

/*REGISTRO*/

.content-right{
    width: 50%;
    height: 45em;
    padding: 0 auto ;
    background-color: aliceblue;
    
}

h1{
    margin: 0;
    padding: 0.5em;
}

.inputs-container{
    height: 83%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    align-items: center;
}

#selectGenero {
    height: 30px;
    width: 60%;
    background-color: #ffff;
    border: 1px solid #ced4da;
    border-radius: 5px;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    letter-spacing: 0.1px;
}

#selectGenero:hover {
    border: 1px solid rgb(52, 218, 162);
}



h2{
    width: 68%;
    font-size: 16px;
    margin: 0;
    padding: 3px;
    text-align: left;
}

input{
    height: 33px;
    width: 70%;
    border-radius: 5px ;
    border:1px solid #ced4da;
}

input:hover{
    border: 1px solid rgb(52, 218, 162);
}